<div class="container-fluid container-custmom " id='angular' *ngIf="!bloqueado">
  <div class="row align-items-center">
    <div class="col-8 phaser" >
      <div id = "phaser_game_map"></div>
      <!-- <a href="javascript:void(0);" (click)="goPlaces()">{{ 'PAGES.DETAIL.BACK_TO_HOME' | translate }}</a>
      <button  (click)=openTestDocument() type="button" class="btn btn-primary">ABRIR WEAP</button> -->
    </div>
    <div class="col-4  col-lg-4 box-cj">
      <!-- <div class="row align-items-center"> -->
      <!-- <div class="row mt-1">
        <div class="col-6">
          <span>Año:</span>
          <div class="progress" style="align-content: start">
            <div class="progress-bar " role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2045</div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
                      <span>
             Puntaje: <strong class="score">
                        60!
                      </strong>
          </span>
          </div>
        </div>
      </div> -->
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cargando" *ngIf="bloqueado">
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cargando...
  </button>
</div>
