<div class="container-fluid container-custmom " id='angular'>
  <div class="row align-items-center">
    <div class="col-8" >
      <div  class= box-phaser id = "phaser_game_map"></div>
    </div>
    <div class="col-4  col-lg-4 box-cj">
      <div class="row mt-1">
        <div class="col-11" style="padding:0;">
          <div style="text-align:center">
            <apx-chart
              [series]="chartOptionsAC.series"
              [chart]="chartOptionsAC.chart"
              [xaxis]="chartOptionsAC.xaxis"
              [yaxis]="chartOptionsAC.yaxis"
              [title]="chartOptionsAC.title"
              [colors]="chartOptionsAC.colors"
              [dataLabels]="chartOptionsAC.dataLabels"
              [annotations]="chartOptionsAC.anotations"
            ></apx-chart>
          </div>
        </div>
        <div class="col-1" style="padding:0;">
          <br>
          <br>
          <span class="score">Pts.</span>
          <br>
          <span class="score">{{gameDataScores.conservationAreaScores.indicatorTotalScore}}</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-11" style="padding:0;">
          <div style="text-align:center">
            <apx-chart
              [series]="chartOptionsHT.series"
              [chart]="chartOptionsHT.chart"
              [xaxis]="chartOptionsHT.xaxis"
              [yaxis]="chartOptionsHT.yaxis"
              [title]="chartOptionsHT.title"
              [colors]="chartOptionsHT.colors"
              [dataLabels]="chartOptionsHT.dataLabels"
              [annotations]="chartOptionsAC.anotations"
            ></apx-chart>
          </div>
        </div>
        <div class="col-1" style="padding:0;">
          <br>
          <br>
          <span class="score">Pts.</span>
          <br>
          <span class="score">{{gameDataScores.hydroelectricTurbineScores.indicatorTotalScore}}</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-11" style="padding:0;">
          <div style="text-align:center">
            <apx-chart
              [series]="chartOptionsDC.series"
              [chart]="chartOptionsDC.chart"
              [xaxis]="chartOptionsDC.xaxis"
              [yaxis]="chartOptionsDC.yaxis"
              [title]="chartOptionsDC.title"
              [colors]="chartOptionsDC.colors"
              [dataLabels]="chartOptionsDC.dataLabels"
              [annotations]="chartOptionsAC.anotations"
            ></apx-chart>
          </div>
        </div>
        <div class="col-1" style="padding:0;">
          <br>
          <br>
          <span class="score">Pts.</span>
          <br>
          <span class="score">{{gameDataScores.demandSiteScores.indicatorTotalScore}}</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-11" style="padding:0;">
          <div style="text-align:center">
            <apx-chart
              [series]="chartOptionsSR.series"
              [chart]="chartOptionsSR.chart"
              [xaxis]="chartOptionsSR.xaxis"
              [yaxis]="chartOptionsSR.yaxis"
              [title]="chartOptionsSR.title"
              [colors]="chartOptionsSR.colors"
              [dataLabels]="chartOptionsSR.dataLabels"
              [annotations]="chartOptionsAC.anotations"
            ></apx-chart>
          </div>
        </div>
        <div class="col-1" style="padding:0;">
          <br>
          <br>
          <span class="score">Pts.</span>
          <br>
          <span class="score">{{gameDataScores.helpcareRiverScores.indicatorTotalScore}}</span>
        </div>
        <!-- <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div> -->
      </div>
      <div class="row mt-1">
        <!-- <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div> -->
      </div>
      <div class="row mt-1">
        <!-- <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="cargando" *ngIf="bloqueado">
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cargando...
  </button>
</div>
