<div class="container-fluid container-custmom " id='angular'>
  <div class="row align-items-center">
    <div class="col-8" >
      <div id = "phaser_game_map"></div>
    </div>
    <div class="col-4  col-lg-4 box-cj">
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptionsAC.series"
            [chart]="chartOptionsAC.chart"
            [xaxis]="chartOptionsAC.xaxis"
            [title]="chartOptionsAC.title"
            [colors]="chartOptionsAC.colors"
          ></apx-chart>
        </div>
      </div>
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
      <div class="row mt-1">
        <div style="text-align:center">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [responsive]="chartOptions.responsive"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cargando" *ngIf="bloqueado">
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cargando...
  </button>
</div>
