<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>

  <button (click)=onMergePDF()>MERGE PDF</button>

  <hr/>

  <button (click)=openTestDocument()>OPEN TEST DOCUMENT</button>
  <button (click)=testEmpty()>EMPTY TEST DOCUMENT</button>
  <button (click)=testFill()>FILL TEST DOCUMENT</button>

  <button (click)=quit()>QUIT</button>
  <button (click)=saveAsPDF()>SAVE AS PDF</button>
</div>
