
<div id = "phaser_game"></div>
<div class="container">
</div>
<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>


  <hr/>

  <button (click)=openTestDocument()>OPEN TEST DOCUMENT</button>
  <br>

  <button (click)=testEmpty()>EMPTY TEST DOCUMENT</button>
  <br>

  <button (click)=testFill()>FILL TEST DOCUMENT</button>
  <br>

  <button (click)=testFillEval()>FILL EVAL TEST DOCUMENT</button>
  <br>

  <button (click)=quit()>QUIT</button>
</div> -->
